body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #470000;
}
.container{
  margin : 10px auto;
  align-items: center;
  
}

.carousel{
  height : 300px;
  width: 500px;
  position: relative;
  overflow:hidden;
  background-color:white;
  border-radius:100px;
 
}
.slider{
  height:100%;
  display:flex;
  width:500%;
  border: 2px solid white;
  transition : all 0.3s;
  
}
.slider section {
  flex-basis: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.controls.arrow{
  position: relative;
  cursor: pointer;
}
.arrow.left {
  position:absolute;
  left:10px;
  top:50%;
  transform: translateY(-50%);
  font-size:15px;
}
.arrow.right{
  position:absolute;
  right:10px;
  top:50%;
  transform: translateY(-50%);
  font-size:15px;
}
.image-container {
  width:150px; 
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color:yellow;
  position:relative;
  align-items:center;
  left:30%;
}
.image1{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.image2{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.image3{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.image4{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.image5{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
p{
  position:center;
  font-family: 'Rubik', sans-serif;
}
p1{
  position:center;
  font-family: 'Rubik', sans-serif;
  font-size:18px;
  font-style:bolder;
  left:30%
}
h1{
  position:relative;
  font-family: 'Rubik', sans-serif;
  color:white;
}